/* General */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    text-align: center;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 100vh;
}

/* Header */
header {
    padding: 15px 5px 5px;
}

.header-inner-container {
    max-width: 1200px;
    margin: auto;
}

header h1 {
    display: inline-block;
    font-size: 1em;
    color: rgba(50, 50, 50, 0.9);
    margin-top: 25px;
    padding: 0.4rem 1rem 0.4rem 0;
    border-radius: 0.5rem;
}

/* Search */
.search-input {
    padding: 0.4rem 1rem;
    border: 1px solid #fff;
    border-radius: 0.5rem 0 0 0.5rem;
    max-width: 20rem;
    transition: 0.4s ease-out;
    outline: none;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.06);
}

.search-input:active,
.search-input:hover,
.search-input:focus {
    border: 1px solid rgba(200, 200, 200, 0.9);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

.search-submit {
    cursor: pointer;
    height: 37px;
    background: #fff;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid #fff;
    transition: 0.4s ease-out;
    outline: none;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.06);
}

.search-submit:active,
.search-submit:hover,
.search-submit:focus {
    border: 1px solid rgba(200, 200, 200, 0.9);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

/* Cards gallery */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0.5em;
    transition: 0.4s ease-out;
    overflow: hidden;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.06);
}

.card:hover {
    border: 1px solid rgba(200, 200, 200, 0.9);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
}

.card-info-container {
    text-align: left;
}

.card-name {
    font-weight: 600;
    margin: 20px auto 0;
}

.card-text {
    font-size: 0.9em;
    color: rgba(50, 50, 50, 0.7);
    margin: 7px auto;
    transition: 0.4s ease-out;
}

.cap {
    text-transform: capitalize;
}

/* Modal */
.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #fff;
    border-radius: 0.5rem;
    transition: 0.4s ease-out;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    color: #fff;
    background: rgba(50, 50, 50, 0.9);
    outline: none;
    transition: 0.4s ease-out;
    border-radius: 50%;
    border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-close-btn:hover {
    color: rgba(50, 50, 50, 0.9);
    background: #fff;
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
}

.modal-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 420px;
    margin: 10px auto auto;
}

.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    color: #fff;
    background: rgba(50, 50, 50, 0.9);
    border: none;
    border-radius: 0.5em;
    transition: 0.4s ease-out;
    outline: none;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
}

.modal-btn-container .btn:hover {
    color: rgba(50, 50, 50, 0.9);
    background: #fff;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

/* Media queries */
@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .search-container {
        margin-top: 25px;
    }

    .modal {
        margin-top: 100px;
    }
}
